extends layout

block content
  h1= title
  p Welcome to #{title}
    ul 
      li
        input.process_request#temp_req1(type="button" value="send request1")
        input.process_request#temp_req2(type="button" value="send request2")
        input.process_request#temp_req3(type="button" value="send request3")
